/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style*/
body {
	font: 16px/28px arial,centauri gothic;
	background-color: #c5c5c5;
	color: black;
}

.container {
	width: 830px;
	margin: auto;
	background-color: #e5e5e5;
}

.header {
	padding: 20px;
}

.header, .judulweb {
	font-family: Rockwell;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 1px;
}

ul li {
	display: inline-block;
	font-size: 15px;
	font-family: centaury gothic;
	margin-top: 40px;
	margin-right: 10px;
}

ul li a {
	text-decoration: none;
	color: #0c00a2;
}

ul li a:hover {
	background-color: lightskyblue;
	color: white;
}

.hero {
	height: 400px;
	background-image: url("Gambar/codingan.jpeg") ;
	background-size: cover;
	border-top: 4px solid #0088ff;
}

.judulutama {
	font-weight: bold;
	text-decoration-line: underline;
	font-size: 27px;
	font-family: Arial Rounded MT Bold;
	padding-top: 35px;
	padding-bottom: 50px;
	padding-left: 10px;
	letter-spacing: 1px;
}

.poin1 {
	font-weight: bold;
	font-size: 20px;
	font-family: Trebuchet MS;
	padding-left: 10px;
	padding-bottom: 40px;
	letter-spacing: 1px;
}
